
# Created by https://www.toptal.com/developers/gitignore/api/particle,vscode
# Edit at https://www.toptal.com/developers/gitignore?templates=particle,vscode

### Particle ###
# Compiled output #

###################

*.bin

### vscode ###
.vscode/*
*.code-workspace

# End of https://www.toptal.com/developers/gitignore/api/particle,vscode

target/*
